/* 写版心居中的效果，margin：0 auto */
/* 首页样式 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
/* 版心样式 */
body {
    background-color: #f3f5f7;
}
/* 网页背景 */
/* 头部区域 */
.head {
    background-color: #fff;
    height: 133px;
}
.head .wrapper {
    display: flex;
    padding-top: 40px; 
}
 
.logo a {
    display: block;
    width: 200px;
    height: 55px;
    background-image: url(../images/logo.jpg);
    font-size: 0;
}

.head .wrapper .nuv ul {
    display: flex;
    padding-left: 40px;
    /* padding-right: 60px; */
    
}

.head .wrapper .nuv ul li {
    margin-top: 15px ;
    margin-right: 60px;
}
.nuv li a {
    line-height: 30px;
    color: #050505;
    font-size: 20px;
    padding: 6px 8px;
}
.nuv li .active,.nuv li a:hover{
    border-bottom: 2px solid #00a4ff;
}
 
.search {
    display: flex;
    /* justify-content: space-between; */
    

    margin-top: 10px;
    margin-left: 40px;
    padding-left: 19px;
    padding-right: 16px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}
.search input {
    border: none;
    background-color: #f3f5f7;
    flex: 1;
    outline: none;
}
.search input::placeholder {
    line-height: 14px;
    color: #999;
}
.search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(#);
    font-size: 0;

}
.user {
    
    /* display: flex; */
    /* align-items:flex-start; */
    margin-top: 12px;
    margin-left: 32px;
}

.user img {
    margin-right: 7px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
   
}
.user span {
    font-size: 16px;
    color: #666;
    /* padding-bottom: 5px; */
   
}
.banner {
    height: 420px;
    background-color: #0092cb;
} 

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../../../照片/动漫图片/e5cdb7d3e1a3a152b0b4b58cbd581567.jpg),url(../../../照片/动漫图片/36c10fc20a85600244d73e969bd7efda.jpg
    ),url(../../../照片/动漫图片/dd634370609d9d6ab95cfb1ad87057e7.jpg);
    background-position: left center, center center, right center;
    background-size: 30% 100%, 40% 100%, 30% 100%; 
    background-repeat: no-repeat;
}
.banner .left {
    padding: 3px 20px;

    width: 192px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}
.banner .left a {
    display: block;
    display: flex;
    justify-content: space-between;
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
}
.left a:hover {
    color: #00a4ff;
}

.banner .right {
    margin: 60px 0px 55px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    
    border-radius: 10px;
}
.right h3 {
    padding-left: 14px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    
    line-height: 48px;
}
.right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}
.right .content dl {
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
}
.right .content dd {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight:700 ;
    line-height: 20px;
}
.right .content dt {
    font-size: 12px;
    margin-bottom: 8px;
    line-height: 16px;
}
.right .content dt span {
    color: #0092cb;
}
.right .content dt strong {
    color: #9d9d9d;
    font-weight: 400;
}
.right .content a {
    display: block;
    width: 190px;
    height: 32px;
    border-radius: 15px;
    /* margin: 10px 15px; */
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    background-color: #0092cb;
}
.recommend {
    display: flex;
    padding: 0 20px;
    margin-top: 12px;
    background-color: #fff;
    height: 60px;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0,5);
    line-height: 60px;
}   
.recommend h3 {
    
    font-weight: 400px; ;
    font-size: 18px;
    color: #0092cb;
}
.recommend ul {
    flex: 1;
    display: flex;

}
.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}
.recommend ul li:last-child a {
    border-right: none;
}
.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}
.recommendvedio {
    margin-top: 15px;
}
.recommendvedio .hd {
    display: flex;
    justify-content: space-between;
}
.recommendvedio .hd h3 {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 400;
}
.recommendvedio .hd .all {
    font-size: 14px;
    color: #9d9d9d;
    padding-top: 20px;
}
/* 公共课程视频区域布局 */
.bd ul{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li {
    width: 228px;
    height: 271px;
    background-color: #fff;
    margin-bottom: 14px;
}
.bd li .pic {
    height: 228px;
}
.bd li:nth-child(-n+5) .pic img {
    height: 300px;
    overflow: hidder;
}
.bd li:nth-last-child(-n+5) .pic img {
    width: 228px;
}
.bd li .text span{
    font: 700 14px;
}
.bd li .text p{
    font-size: 12px;
    font-weight: 400;
}
.bd li .text{
    padding: 0 10px;
    
}
/* 前端开发区域 */
.wrapper .hd {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.wrapper .hd h3 {
    font-weight: 400px; ;
    font-size: 18px;
    color: #0092cb;
}
.wrapper .hd ul {
    display: flex;
    justify-content: space-between;

}
.wrapper .hd li {
    font-size: 16px;
    margin-right: 60px;
}
.wrapper .hd .active {
    color: #00a4ff;
}
.wrapper .hd .all {
    font-size: 14px;
    color: #9d9d9d;
    padding-top: 20px;
}
.bdd {
    display: flex;
    height: 386px;
}
.bdd .left {
    margin-right: 20px;
    width: 228px;
}
.bdd .left img {
    width: 228px;
}
.bdd .right {
    width: 957px;
}
.bdd .right .top {
    height: 100px;
    background-color: #0092cb;
}
.bdd .right .bottom ul {
    display: flex;
    justify-content: space-between;
}
.bdd .right .bottom .pic img{
    height: 220px;
    overflow: hidder;
}
/* 版权copyright区域 */

.copyright {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 525px;
    background-color: #fff;
}
.copyright .wrapper {
    display: flex;
    justify-content: space-between;

}
.copyright .left {
    margin-top: 60px;
    width: 440px;
}

.copyright p {
    margin-top: 24px;
    margin-bottom: 14px;
    color: #666;
    font-size: 12px;
    height: 34px;
    line-height: 17px;
}
.copyright .download {
    display: block;
    width: 120px;
    height: 50px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 50px;
    color: #0092cb;
}
.copyright .right {
    display: flex;
    margin-top: 60px;
    padding-top: 20px;

}
.copyright .right dl {
    margin-left: 130px;
}
.copyright .right dt {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;

}
.copyright .right dd {
    font-size: 14px;
    font-weight: 400;
    color: #e0e0e0;
}